<!DOCTYPE html>
<!--
-->
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
       
    <head th:replace="~{layout/plantilla :: head}">
        <title>Find Your Spot</title>
    </head>
    <body>
         <header th:replace="~{layout/plantilla :: header}"/>
         <section th:replace="~{layout/plantilla :: logIn}" />
         <section th:replace="~{layout/plantilla :: searchIndex}" />
         <footer th:replace="~{layout/plantilla :: footer}"/>
    </body>
</html>